* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    color: black;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.buttons {
    text-align: center;
}

.buttons button {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 0.15vw solid black;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 7vw;
    font-size: 1vw;
    width: 7vw;
    padding: 7.5px 0px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.buttons button:active {
    transform: scale(0.98);
}

.main {
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
}

.main .title {
    font-size: 55px;
    font-weight: normal;
}